/********** Template CSS **********/
:root {
    --primary: #00a652;
    --light: #F0FBFC;
    --dark: #181d38;
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

        .body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d9d9d9;
        }


        .loader {
            height: 10vh;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            overflow: hidden;
        }

        .logo {
            width: 8vw;
            /* height: 100%; */
/*          background-color: black;*/
        }

        .logo img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            animation: scale-up 3s linear infinite;
        }

        .words {
            width: 12vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
/*          background-color: cyan;*/
        }

        .words div h3 {
            font-size: 2.3rem;
            color: #25aae2;
            height: 10vh;
            width: 12vw;
            display: flex;
            align-items: center;
            justify-content: center;
/*          background-color: blue;*/
        }

        .words div {
            animation: move-up 3s linear infinite;
        }

        @keyframes move-up {
            0% {
                transform: translateY(12vh);
                opacity: 0;
            }

            5% {
                transform: translateY(12vh);
                opacity: 1;
            }

            45% {
                transform: translateY(12vh);
            }

            50% {
                transform: translateY(1vh);
            }

            60% {
                transform: translateY(1vh);
            }

            65% {
                transform: translateY(-10vh);
            }

            75% {
                transform: translateY(-10vh);
            }

            80% {
                transform: translateY(-26vh);
            }

            90% {
                transform: translateY(-26vh);
            }

            95% {
                transform: translateY(-36vh);
            }

            100% {
                transform: translateY(-36vh);
            }
        }

        @keyframes scale-up {
            0% {
                scale: 1;
            }

            45% {
                scale: 1;
            }

            50% {
                scale: 1.3;
            }

            60% {
                scale: 1.3;
            }

            65% {
                scale: 1;
            }

            75% {
                scale: 1;
            }

            80% {
                scale: 1.3;
            }

            90% {
                scale: 1.3;
            }

            95% {
                scale: 1;
            }

            100% {
                scale: 1;
            }
        }


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}
.buttons {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-btn {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    letter-spacing: 1px;
    background-color: #25aae2;
    border-color: #06BBCC;
}

.book-btn:hover {
    background-color: #00a652;
    color: #FFFFFF;
}

.cancel-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    align-self: flex-end;
    height: 50px;
    color: #000;
    border-color: #25aae2;
}

.cancel-btn:hover {
    border-color: #00a652;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-brands {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    margin-left: -35px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



/*why book section*/

.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
/*            display: flex;*/
            justify-content: center;
            align-items: center;
            z-index: 999999; /* Ensure the overlay is on top of everything */
        }

        .overlay1 {
            display: flex;
        }
        .booking-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            height: calc(100vh - 70px);
            overflow: scroll;
        }
        #bookingForm {
            position: relative;
            max-width: 400px;
            width: 100%;
        }
        h2 {
            margin-top: 0;
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="email"], textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #FFFFFF;
        }

 .hero {
    background-image: url('img/carousel-11.gif');
    background-size: cover;
    color: white;
    padding: 100px;
    position: relative;
  }
  
  .hero-content {
    display: flex;
    width: 50%;
    height: 40vh;
  /*  align-content: space-between;*/
  }

  .hero-content h2 {
/*    color: #25aae2;*/
    color: #0097b2;
    font-size: 1.5rem;
    align-self: center;
  }

  #span {
/*    color: #ed1b24;*/
/*    color: #00a652;*/
    color: #FFFFFF;
    font-size: 2.3rem;
    font-weight: 900;
    width: fit-content;
  }
  

/*  associated*/
.associates {
/*    background-color: #e7dede;*/
    background-color: #d3d3d3;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.associates img {
    height: 100px;
    width: 100px;
    transition: all .4s ease;
}

.associates img:hover {
    scale: 1.4;
}

.associates img:nth-child(1) {
    height: 200px;
    width: 200px;
}

.associates img:nth-child(2) {
    height: 80px;
    width: 180px;
/*    background-color: #c7c7c7;*/
    fill: 2px #c7c7c7;
}

.associates img:nth-child(4) {
    height: 100px;
    width: 200px;
/*    background-color: #c7c7c7;*/
}

.associates img:nth-child(7) {
    height: 80px;
    width: 200px;
}

.associates img:last-child {
    height: 100px;
    width: 200px;
}

  .contact-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    right: 50px;
    height: 365px;
    width: 300px;
    z-index: 10;
  }
  
  .card-header {
    background-color: #ed1b24;
    color: white;
    padding: 10px;
  }
  
  .card-header,
  .card-description {
    margin-bottom: 10px;
  }
  
  .card-description textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }
  
  #form {
    display: flex;
    flex-direction: column;
  }
  #submit {
    margin-top: 15px;
    width: 80px;
    color: #fff;
    background-color: #00a652;
    border-radius: 12px;
  }
  
  input {
    width: 200px;
  }


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content h2 {
        font-size: 18px;
        margin-left: 15px;

   }

   .hero-content {
        width: 100%;
   }

   .contact-card {
        display: none;
        visibility: hidden;
   }

   .hero {
    padding: 5px;
   }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-11.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.categories {
/*    opacity: 0;*/
    transform: rotateY(90deg) translateX(30px);
    transition: all .4s ease;
}

.pic {
    transform-style: preserve-3d;
}

.pic:hover .categories {
    transform: rotateY(0) translateX(0);
}

/*.g3 {
    height: 50vh;
    overflow: hidden;
}*/

.why-space {
    height: fit-content;
}

.why-space div {
/*    background-color: #c7c7c7;*/
}

  .why-book-section {
    background-color: #d3d3d3;
/*    background-color: #e7dede;*/
    padding: 50px 0;
/*    margin-top: 400px;*/
  }
  
  .why-book-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
  .why-book-content {
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  }

  .why-book-content p {
    height: 100%;
    width: 100%;
    text-align: left;
/*    letter-spacing: 0.75px;*/
    line-height: 30px;
    align-self: center;
  }

  .why-book-icons {
    height: 100%;
    width: 50%;
  }

  .icon-section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .icon-section div {
    margin: 0 10px;
    height: 100%;
    width: 100%;
/*    background-color: cyan;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .icon-section div h3 {
    font-size: 0.67rem;
  }

  .icon-section div i {
    color: #25aae2 !important; 
  }

.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

 
/*last section*/
 .last-section {
/*    margin-top: 100px;*/
    text-align: center;
    padding: 50px 0;
  }
  
  .last-container {
    max-width: 1200px;
    margin: 0 auto;
/*    height: 400px;*/
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .chat {
    max-width: 400px;
    align-self: center;
  }
  

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }

    .why-book-container {
        flex-wrap: wrap;
    }

    .flip:hover {
        transform: translateX(-25%);
    }

    .associates {
        height: 700px;
    }

}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }

    .associates {
        height: 700px;
    }
}

/* py5 */

/* .py5 {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    height: auto;
} */

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/*services section*/

.services-container {
  display: grid;
  gap: 2rem 1rem;
}

.services-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
  position: relative;
}

.services-tags-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  /* background: blue; */
}
.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
  pointer-events: none;
}
.tags-list a:hover {
  color: var(--primary-500);
}

/*tags-list-images*/

.service {
  display: block;
}
@media screen and (min-width: 576px) {
  .services-list {
    grid-template-columns: 1fr 1fr;
  }

  .associates {
    height: 700px;
}

}

@media screen and (min-width: 992px) {
  .services-container {
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
  .services-list {
    grid-template-columns: 1fr 1fr;
  }

  .tags-container {
    order: 0;
    /* background: blue; */
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .associates {
    height: 700px;
}
}

@media screen and (min-width: 1200px) {
  .service h5 {
    font-size: 1.15rem;
  }
  .services-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



/*flip-cards*/

.flip-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-back, .flip-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.flip-front img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
}

.flip-front button {
    height: 28px;
    background-color: #fff;
    color: #000;
    border: 1px solid #25aae2;
    margin-top: 2px;
}

.flip-back img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-style: preserve-3d;
    transform-origin: right;
    background: #000;
    transition: 1s;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
    opacity: 0;
    object-fit: cover;
    object-position: center;
}

.flip:hover .flip-back img {
/*    transform: rotateY(180deg);*/
    transform: translateX(100%);
    opacity: 1;
}

.flip-back p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flip:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip:hover {
    transform: translateX(-50%);
}

.flip-back:hover {
  z-index: 1;
}

.flip-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
/*  z-index: 1;*/
}

.flip {
    width: 200px;
    height: 300px;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
            box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
        transition: 1s;
}



/*about-section*/ 

.about-page h2 {
  text-transform: none;
  font-weight: bold;
}
.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about-img {
  border-radius: var(--borderRadius);
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.large {
/*  background-image: url(../images/pricing-1.jpg) center/cover no-repeat;*/
  position: relative;
  height: 500px;
  width: 430px;
  border-radius: 40px;
}
.small {
/*  background-image: url(../images/pricing-2.jpg) center/cover no-repeat;*/
  position: absolute;
  top: auto;
  right: 40%;
  border-radius: 30px;
  border-color: whitesmoke;
  border: 2px;

}

.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
}
.tags-list a:hover {
  color: var(--primary-500);
}


.tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }


.featured-title {
  text-align: center;
}

@media screen and (min-width: 992px) {
    .about-page {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
      }
    .about-img {
        height: 100%;
      }
}



/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px !important;
}

.worker {
    border-radius: 50%;
    scale: 0.5;
    margin-bottom: -80px;
}

/*.img-fluids {
    
    object-fit: cover;
    object-position: center;
}*/

@media (max-width: 991.98px) {
    .worker {
        margin-bottom: -115px;
    }

    .raw .item {
        flex-direction: column;
        margin-top: 30px;
        width: 216px;
        height: auto;
    }

    .why-book-container {
        flex-wrap: wrap;
    }

    .why-book-content {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .why-book-icons {
        width: 300px;
        height: 300px;
    }

    .why-space{
    height: 800px;
    }

    .icon {
        padding: 10px !important;
    }

    .h2 {
        font-size: calc(1.1rem + .9vw);
    }

    .flip:hover {
        transform: translateX(-25%);
    }

    .img-fluids {
    
        object-fit: cover;
        object-position: center;
    }
}
/* 
.img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  padding: 0;
} */

.bg {
  height: 70vh;
  width: 100%;
}

.icon {
    height: 100%;
    width: 155px;
    padding: 2px;
    object-fit: cover;
    object-position: center;
    scale: 0.5;
}



.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}









